<div id="data-attribute" 
    data-current-page = '<%= currentPage %>'
    data-total-page = '<%= totalPage %>'
    data-total-item = '<%= totalItem %>'
    data-page-limit = '<%= PAGE_LIMIT %>'
></div>

<table class="category-table table table-striped table-hover align-middle">
    <thead>
        <tr>
            <th>STT</th>
            <th class="sortable" data-sort-by="TenTL">
                Tên thể loại 
                <i class="fas fa-sort-up text-muted"></i> 
            </th>
            <th class="sortable" data-sort-by="MoTa">
                Mô tả 
                <i class="fas fa-sort-down text-muted"></i>
            </th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>

        <% if (categories.length> 0) { %>

            <% categories.forEach((category, index)=> { %>

                <tr data-id="<%= category.MaTL %>">
                    <td class="stt">
                        <%= index + 1 %>
                    </td>
                    <td class="name">
                        <%= category.TenTL %>
                    </td>
                    <td class="desc">
                        <%= category.MoTa %>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-info me-2 btn-show-update-category">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </button>
                        <button class="btn btn-sm btn-danger btn-delete-category">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            <% }) %>

        <% } else { %>

            <tr class="no-data">
                <td colspan="4" class="text-center">
                    Không có dữ liệu...
                </td>
            </tr>

        <% } %>

    </tbody>
</table>

