<% 
    const TRANG_THAI = {
        'CHO_THANH_TOAN': 'Chờ thanh toán',
        'DA_THANH_TOAN': 'Đã thanh toán',
        'DA_HUY': 'Đã hủy',
        'DA_HOAN_TRA': 'Đã hoàn trả'
    }

    const HINH_THUC_THANH_TOAN = {
        'CASH': 'Thanh toán tiền mặt',
        'BANK_TRANSFER': 'Thanh toán ngân hàng'
    }
%>

<div id="data-attribute"     data-current-page="<%= currentPage %>"     data-total-page="<%= totalPage %>"    
    data-total-item="<%= totalItem %>"     data-total-item-per-page="<%= totalItemPerPage %>"    
    data-page-limit="<%= PAGE_LIMIT %>"></div>

<div class="table-responsive-wrapper">
    <table class="table table-striped table-hover align-middle">
        <thead>
            <tr>
                <th>Mã hóa đơn</th>
                <th>Điện thoại</th>
                <th>Ngày tạo</th>
                <th>Tổng tiền</th>
                <th>Trạng thái</th>
                <th class="text-center">Thao tác</th>
            </tr>
        </thead>
        <tbody>

            <% if (invoices.length> 0) { %>

                <% invoices.forEach((invoice)=> { %>

                    <tr data-id="<%= invoice.MaHD %>" data-status="<%= invoice.TrangThai %>">
                        <td>
                            #<%= invoice.MaHD %>
                        </td>
                        <td>
                            <%= invoice.SDTKhachHang || 'Không ghi nhận' %>
                        </td>
                        <td class="text-muted">
                            <%= formatTime7(invoice.NgayTaoHoaDon) %>
                        </td>
                        <td class="text-muted">
                            <%= formatPrice(invoice.TongTien) %> 
                        </td>
                        <td>
                            <% if (invoice.TrangThai === 'DA_THANH_TOAN') { %>
                                <span class="badge bg-success">Đã thanh toán</span>
                            <% } else if (invoice.TrangThai === 'CHO_THANH_TOAN') { %>
                                <span class="badge bg-warning text-white">Chờ thanh toán</span>
                            <% } else if (invoice.TrangThai === 'DA_HUY') { %>
                                <span class="badge bg-secondary">Đã hủy</span>
                            <% } else if (invoice.TrangThai === 'DA_HOAN_TRA') { %>
                                <span class="badge bg-secondary">Đã hoàn trả</span>
                            <% } %>
                        </td>
                        <td class="action-col text-center">
                            <button class="btn-show-details btn action-btn view-btn" title="Xem chi tiết">
                                <i class="fa-solid fa-eye"></i> 
                            </button>
                            
                            <% if (invoice.TrangThai === 'CHO_THANH_TOAN') { %>
                                <button class="btn-pay btn action-btn success-btn" title="Thanh toán">
                                    <i class="fa-solid fa-money-bill"></i>
                                </button>
                            <% } %>
                            
                            <% if (invoice.TrangThai === 'CHO_THANH_TOAN' || invoice.TrangThai === 'DA_THANH_TOAN') { %>
                                <button class="btn-cancel btn action-btn delete-btn" title="Hủy">
                                    <i class="fa-solid fa-ban"></i>
                                </button>
                            <% } %>
                        </td>
                    </tr>
                    <% }) %>
                        <% } else { %>

                            <tr class="no-data">
                                <td colspan="7" class="text-center py-4">
                                    Không có dữ liệu...
                                </td>
                            </tr>

                            <% } %>
        </tbody>
    </table>
</div>
