<div class="container-fluid py-4 manager-container">
    <div class="header-section mb-4 pb-3">
        <h1 class="page-title">Quản lý <%= entityName %>
        </h1>
    </div>

    <div class="row mb-4 align-items-center">
        <div class="col-lg-6 col-md-6 col-12">
            <div class="search-card card">
                <div class="card-body p-0">
                    <div class="input-group search-input-group">
                        <input type="text" class="form-control search-value" placeholder="Tìm kiếm theo số điện thoại khách hàng">
                        <button class="btn btn-search search-button" type="button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-2.5 col-md-3 col-12">
            <div class="filter-card card">
                <div class="card-body p-0">
                    <select class="form-select status-filter-select" id="order-status-filter">
                        <option value="">Tất cả trạng thái</option>
                        <option value="CHO_XAC_NHAN">Chờ xác nhận</option>
                        <option value="DANG_CHUAN_BI_HANG">Đang chuẩn bị hàng</option>
                        <option value="DA_GIAO_CHO_DON_VI_VAN_CHUYEN">Đang giao hàng</option>
                        <option value="DA_GIAO">Đã giao hàng</option>
                        <option value="DA_HUY">Đã hủy</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-lg-3.5 col-md-3 col-12 d-flex justify-content-end action-buttons-row">
            <!-- <div class="me-3">
                <button type="button" class="btn btn-add-primary" data-bs-toggle="modal"
                    data-bs-target="#add-order-modal">
                    <i class="fas fa-plus"></i> Thêm đơn hàng
                </button>
            </div> -->

            <!-- <div>
                <button class="btn btn-outline-success export-button d-none">
                    Xuất excel <i class="far fa-file-excel"></i>
                </button>
            </div> -->
        </div>
    </div>

    <div class="table-responsive" id="table-view-manager">
        <%- include(tablePartial) %>
    </div>

    <div id="pagination-view-manager" class="mt-4">
        <%- include('partials/pagination') %>
    </div>
</div>


<!-- Modal Add -->
<%- include(modalAddPartial) %>

<% if (typeof modalUpdatePartial !== 'undefined') { %>
    <!-- Modal Update -->
    <%- include(modalUpdatePartial) %>
<% } %>

<script type="module" src="/js/paginationViewManager.js"></script>
<link rel="stylesheet" href="/css/viewManager.css">